In [34]:
import pandas as pd
import datetime as dt

df = pd.read_csv("datasets/chicago.csv", index_col=0)
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [35]:
df1 = df.groupby(["Start Station", "End Station"]).size().sort_values(ascending=False)
df1.index[0]

('Lake Shore Dr & Monroe St', 'Streeter Dr & Grand Ave')

In [36]:
print(df["Trip Duration"].sum())

280871787

In [37]:
print(f"{df["Trip Duration"].mean():.1f}")

936.2

In [40]:
total_travel_time_seconds: int = int(df["Trip Duration"].sum())
travel_time_seconds: int = total_travel_time_seconds % 60
travel_time_minutes: int = total_travel_time_seconds // 60
travel_time_hours: int = travel_time_minutes // 60
travel_time_minutes %= 60
travel_time_days: int = travel_time_hours // 24
travel_time_hours %= 24
travel_time_years: int = travel_time_days // 365
travel_time_days %= 365
print(f"The total travel time is {travel_time_years} years, {travel_time_days} days, {travel_time_hours} hours, {travel_time_minutes} minutes and {travel_time_seconds} seconds (or a total of {total_travel_time_seconds} seconds).")

The total travel time is 8 years, 330 days, 19 hours, 56 minutes and 27 seconds (or a total of 280871787 seconds)

In [46]:
total_travel_time_delta = dt.timedelta(seconds=total_travel_time_seconds)
total_years: int = total_travel_time_delta.days // 365
total_days: int = total_travel_time_delta.days % 365
total_hours: int = total_travel_time_delta.seconds // 3600
total_minutes: int = total_travel_time_delta.seconds // 60 % 60
total_seconds: int = total_travel_time_delta.seconds % 60
print(f"The total travel time is {total_years} years, {total_days} days, {total_hours} hours, {total_minutes} minutes and {total_seconds} seconds (or a total of {total_travel_time_seconds} seconds).")
# print(f"The total travel time is {} (or a total of {total_travel_time_seconds} seconds)")

The total travel time is 8 years, 330 days, 19 hours, 56 minutes and 27 seconds (or a total of 280871787 seconds).